body { padding-top: 60px; }
html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}
.max-height {
  height: 100%;
}
.no-padding {
  padding: 0;
}
.cursor-auto {
  cursor: auto !important;
}
.show-grid {
  margin-bottom: 15px;
}

/* encrypted */
div.encrypted {
  display:inline-block;
  position:relative;
}
.encrypted > button {
  position:absolute;
  top:10px;
  right:10px;
}
.encrypted > textarea {
  display:block;
}
.encrypted > .alert {
  position:absolute;
  top:10px;
  right:10px;
}

.copy-container > .alert {
  position: absolute;
  top: 35%;
  right: 46%;
}

/* preview */
.preview > p {
  word-wrap:break-word;
}

.break-word {
  word-wrap:break-word;
}

.row-bordered:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

/* home */
div.home {
  display:inline-block;
  position:relative;
}
.home > .tools {
  z-index: 99;
  position:absolute;
  top:10px;
  right:10px;
  opacity: .4;
}
.home > .tools > button {
  margin-left: 5px;
}

.nav .dropdown-menu .dropdown-container {
  margin-left: 5px;
  margin-right: 5px;
}

.content-container {
	max-width: 740px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

.jumbotron .first-label {
  margin-top: 0;
}
.jumbotron .gap-block {
  margin-top: 0;
  margin-bottom: 30px;
}
.jumbotron .is-label {
  margin-bottom: 0px;
}
.jumbotron .has-label {
  margin-top: 0px;
}

.animate-block {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.glowing-border {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
	outline: 0 none;
}

.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.link-icon {
  margin-right: 5px;
}
.link-icon img {
  width: 32px;
}

.container-fluid {
	max-width: 1040px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}
